rest-basics.iml
.idea
target
*gradle*
build
.jpb
!build.gradle
!settings.gradle
/src/
/*/out
/webapp/out/
rebel.xml
/scripts/Include/
/scripts/Lib/
/scripts/Scripts/
/scripts/pyvenv.cfg
/repository/src/test/java
